<!DOCTYPE html>
<html>

<head>
    <title>google</title>
    <scripts src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>
    <scripts src="/assets/main.js"> </scripts>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>

</head>

<body>
  <div class id='gb'>
    <div class='link'>
      <div class='mail image'>
        <div class='mail'>
            <a class='gmailAddress' href="http://mail.google.com/mail/">Gmail</a>
         </div>

        <div class='image'>
            <a class='imagel' href="https://www.google.co.uk/imghp?hl=zh-CN&ei=tBs7WLnNLd_wgAbEk6joBg&ved=0EKouCAIoAQ">Images</a> 
        </div>
      </div>
    </div>
  <div>
    <img id='logo' src="/assets/google.jpg" />
    <form id='search', name='search' >
      <input type='text', name='item', placeholder="search in google", required/>
      <button type="submit">search</n>
    </form>
  </div>


</body>


</html>
